

@tailwind base;
@tailwind components;
@tailwind utilities;
// :root {
//   --background: #ffffff;
//   --foreground: #171717;
// }

// @theme inline {
//   --color-background: var(--background);
//   --color-foreground: var(--foreground);
//   --font-sans: var(--font-geist-sans);
//   --font-mono: var(--font-geist-mono);
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

@font-face {
  font-family: "thmanyahSans";
  src: url("./assets/fonts/Sans/Thmanyahsans12_Light-s.p.b64aaa42.woff2")
    format("woff2");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "thmanyahSans";
  src: url("./assets/fonts/Sans/Thmanyahsans12_Regular-s.p.0c6166f3.woff2")
    format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "thmanyahSans";
  src: url("./assets/fonts/Sans/Thmanyahsans12_Medium-s.p.8706264b.woff2")
    format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "thmanyahSans";
  src: url("./assets/fonts/Sans/Thmanyahsans12_Bold-s.p.d6ebbbf7.woff2")
    format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "thmanyahSans";
  font-feature-settings: "ss01" 1;
  font-weight: 400;
}


html, body {
  direction: rtl;
  background-color: #000;
  // height: 100%;
  // width: 100%;
}
